@model PortfolioProjectNight.Models.Contact
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
@Html.Action("PartialHead", "Default")
<body>
    @Html.Action("PartialNavbar", "Default")
    @Html.Action("PartialHeader", "Default")
    @Html.Action("PartialAbout", "Default")
    @Html.Action("PartialEducation", "Default")
    @Html.Action("PartialExperience", "Default")
    @Html.Action("PartialSkill", "Default")
    @Html.Action("PartialService", "Default")
    @Html.Action("PartialPortfolio", "Default")
    @Html.Action("PartialTestimonial", "Default")
    <div class="container-fluid" id="pigraContact">
        <div class="container">
            <div class="row g-0">
                @Html.Action("PartialContactSideBar", "Contact")
                <div class="col-lg-9">
                    <div class="contact-content h-100 pt-6 ps-6 pb-6">
                        <div class="bg-light p-4">
                            <div class="row g-5">
                                @Html.Action("PartialContact", "Contact")
                                <div class="col-xl-7 wow fadeInUp" data-wow-delay="0.3s">
                                    <div>
                                        <form method="post">
                                            <div class="row g-3">
                                                <div class="col-lg-12 col-xl-6">
                                                    <div class="form-floating">
                                                        <input type="text" class="form-control border-0" id="name" placeholder="Adınız Soyadınız" name="NameSurname">
                                                        <label for="NameSurname">Adınız Soyadınız</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-xl-6">
                                                    <div class="form-floating">
                                                        <input type="email" class="form-control border-0" id="email" placeholder="Email" name="Email">
                                                        <label for="Email">Email</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-xl-6">
                                                    <div class="form-floating">
                                                        @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.v, "Kategori Seç", new { @class = "form-control mb-3" })
                                                        <label for="phone">Kategori</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-xl-6">
                                                    <div class="form-floating">
                                                        <input type="text" class="form-control border-0" id="project" placeholder="Konu" name="Subject">
                                                        <label for="project">Konu</label>
                                                    </div>
                                                </div>

                                                <div class="col-12">
                                                    <div class="form-floating">
                                                        <textarea class="form-control border-0" placeholder="Mesaj yazın" id="message" name="Message" style="height: 120px"></textarea>
                                                        <label for="message">Mesaj</label>
                                                    </div>

                                                </div>
                                                <div class="col-12">
                                                    <button class="btn btn-primary w-100 py-3">Gönder</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                @Html.Action("PartialContactMap", "Contact")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Action("PartialFooter", "Default")
    <a href="#" class="btn btn-primary btn-lg-square back-to-top"><i class="fa fa-arrow-up"></i></a>
    @Html.Action("PartialScript", "Default")
</body>
</html>